{% extends "budget/base.html"%}
{% block content %}
    <h1>Welcome to BudgetSnap!</h1>
    <h4>This web application will allow you to keep track of your expenses and manage your money more effectively.</h4>
    &nbsp;
    <h4>
    <ol>
       <li>New Transactions</li> 
       <h6>
            Use this tab to add new transactions! 
            Fill in the specified fields in the form and you will be good to go! 
            These will how up in the transaction tabs for you to access in a readable format. 
        </h6>     
       
        &nbsp;
        <li>This Month</li>
        <h6>
            Look through the transactions you have made this month. 
            This will help you know if you are staying within your budget and track your progress for recent purchases.
        </h6>
    
        &nbsp;
        <li>All Transactions</li>
        <h6>
            Keep track of all your transactions since you made this account! 
            Feel free to update and delete any transactions to keep everything nice and clean. 
            There are also 4 different views to use when looking at the transactions to help you navigate through them easier.
        </h6>

        &nbsp;
        <li>Editing Profile</li>
        <h6>
            You can also edit your profile to customize it however you like!
            You can add and update a profile picture and change your username.
        </h6>
    </ol> 
    </h4>
{% endblock content%}

